[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
persiantools = "*"

[dev-packages]
isort = "*"
flake8 = "*"
autoflake = "*"
black = "*"

[requires]
python_version = "3.13"
